{% load static %} {% load humanize %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== SCROLLREVEAL ===============-->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>

    <!--=============== FAVICON ===============-->
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.png' %}"
      type="image/x-icon"
    />

    <!--=============== BOXICONS ===============-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <title>Stephen Moses - Portfolio</title>
  </head>
  <body>
    <!-- ============ LIGHT/DARK MODE TOGGLER -->
    <div class="toggler">
      <i class="bx bx-moon"></i>
    </div>

    <!--==================== NAV ====================-->
    <nav class="nav">
      <ul class="nav__list">
        <li>
          <a href="#home" title="Home" class="nav__link active-link">
            <i class="bx bx-home"></i>
          </a>
        </li>

        <li>
          <a href="#projects" title="Projects" class="nav__link">
            <i class="bx bx-folder"></i>
          </a>
        </li>

        <li>
          <a href="#services" title="Services" class="nav__link">
            <i class="bx bx-file"></i>
          </a>
        </li>

        <li>
          <a href="#experience" title="Experience" class="nav__link">
            <i class="bx bx-medal"></i>
          </a>
        </li>

        <li>
          <a href="#contact" title="Contact" class="nav__link">
            <i class="bx bx-send"></i>
          </a>
        </li>
      </ul>
    </nav>

    <!--==================== MAIN ====================-->
    <main class="main">
      <!--==================== HOME ====================-->
      <section class="home section" id="home">
        <div class="home__container container grid">
          <!--===== PERFIL =====-->
          <div class="perfil">
            <img
              src="{% static 'images/profile.png' %}"
              class="perfil__img"
              alt="image"
            />

            <div class="perfil__data">
              <h1 class="perfil__name">
                Stephen <br />
                Moses
              </h1>

              <div class="perfil__buttons">
                <a href="#projects" class="button">Projects</a>
                <a href="#services" class="button button--black">Services</a>
              </div>
            </div>
          </div>

          <!--===== ABOUT =====-->
          <div class="about">
            <h3 class="about__name">Stephen Moses - <br />Web Developer</h3>

            <p class="about__description">
              Passionate full-stack web developer, focused on building visually
              apealing, fast, secure and scalable websites.
            </p>

            <div class="about__social">
              <a
                href="https://github.com/mrrobot-pioneer/"
                target="_blank"
                class="about__link"
                title="Github"
              >
                <i class="bx bxl-github"></i>
              </a>

              <a href="#" target="_blank" class="about__link" title="Linkedin">
                <i class="bx bxl-linkedin"></i>
              </a>

              <a
                href="https://wa.me/254790167537"
                target="_blank"
                class="about__link"
                title="Whatsapp"
              >
                <i class="bx bxl-whatsapp"></i>
              </a>

              <a
                href="https://primeelements.pro"
                target="_blank"
                class="about__link"
                title="My Website"
              >
                <i class="bx bx-globe"></i>
              </a>
            </div>

            <div class="about__image">
              <img
                src="{% static 'images/profile.png' %}"
                class="about__img"
                alt="about image"
              />
            </div>

            <a href="#contact" class="button" style="margin-bottom: 1rem"
              >Contact Me</a
            >
            <a
              href="{% static 'pdf/Resume - Stephen Moses.pdf' %}"
              download
              target="_blank"
              class="button button--black"
              >Download CV</a
            >
          </div>

          <!--===== SKILLS =====-->
          <div class="skills">
            <h2 class="skills__title">My Skills</h2>

            {% for category, skills in skills_by_category.items %}
            <div>
              <h3 class="skills__subtitle">{{category}}</h3>
              <div class="skills__items">
                {% for skill in skills %}
                <div class="skills__items-wrapper">
                  <img
                    src="https://stephenmoses.primeelements.pro{{ skill.icon.url }}"
                    alt="{{ skill.name }} icon"
                    class="skills__item"
                    title="{{skill.name}}"
                  />
                  <span>{{ skill.name }}</span>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}

            <div class="skills_description">
              Visit the projects section to see the work done with these web
              technologies.
            </div>
          </div>
        </div>
      </section>

      <!--==================== PROJECTS ====================-->
      <section class="projects section" id="projects">
        <h2 class="section__title">Recent Projects</h2>

        <div class="projects__container container grid">
          {% for project in projects %}
          <article class="projects__card">
            <a
              href="{{ project.link }}"
              target="_blank"
              class="projects__image"
            >
              <img
                src="{{ project.thumbnail.url }}"
                alt="{{ project.name }}"
                class="projects__img"
              />
            </a>

            <div class="projects__data">
              <h3 class="projects__name">{{ project.name }}</h3>
              <p class="projects__description">{{ project.description }}</p>

              <div class="projects__skills">
                {% for skill in project.skills_used.all %}
                <img
                  src="{{skill.icon.url}}"
                  alt="{{ skill.name }}"
                  class="projects__skill"
                  title="{{ skill.name }}"
                />
                {% endfor %}
              </div>

              <a
                href="{{ project.link }}"
                target="_blank"
                class="projects__button"
              >
                <i class="bx bx-link-alt"></i>
                <span>Live Preview</span>
              </a>
            </div>
          </article>
          {% endfor %}
        </div>
      </section>

      <!--==================== SERVICES ====================-->
      <section class="services section" id="services">
        <h2 class="section__title">My Services</h2>

        <div class="services__container container grid">
          {% for service in services %}
          <article class="services__card">
            <div class="services__card">
              <div class="services__icon">
                <div class="services__circle"></div>
                <i class="bx bx-code-alt"></i>
              </div>

              <h3 class="services__name">{{ service.name }}</h3>
              <p class="services__description">{{ service.description }}</p>

              {% if service.pricing %}
              <h3 class="services__pricing">
                Approximate Pricing:
                <span>KSH {{ service.pricing|intcomma }}</span>
              </h3>
              <p class="services_comment">
                ** Price may vary based on the actual project **
              </p>
              {% endif %}
            </div>
          </article>
          {% endfor %}
        </div>
      </section>

      <!--==================== EXPERIENCE ====================-->
      <section class="experience section" id="experience">
        <h2 class="section__title">My Experience</h2>

        <div class="experience__container container grid">
          {% for experience in experiences %}
          <article class="experience__card">
            <h2 class="experience__company">{{ experience.company }}</h2>

            <div class="experience__data">
              <h3 class="experience__profession">{{ experience.role }}</h3>
              <span class="experience__date">
                {{ experience.start_date }} - {% if experience.end_date %}
                {{experience.end_date }} {% else %} Present {% endif %}
              </span>
              <p class="experience__description">
                {{ experience.description }}
              </p>
            </div>
          </article>
          {% endfor %}
        </div>
      </section>

      <!--==================== CONTACT ====================-->
      <section class="contact section" id="contact">
        <h2 class="section__title">Contact Me</h2>

        <div class="contact__container container grid">
          <form class="contact__form grid" id="contact-form">
            {% csrf_token %}

            <div class="contact__group grid">
              <input
                type="text"
                name="user_name"
                placeholder="Full Name"
                required
                class="contact__input"
              />
              <input
                type="text"
                name="user_email"
                placeholder="Email Address / Phone Number"
                required
                class="contact__input"
              />
            </div>

            <textarea
              name="user_message"
              placeholder="Your Message"
              class="contact__input contact__area"
              required
            ></textarea>

            <button type="submit" class="button contact__button">
              Send Message
            </button>

            <p class="contact__message" id="contact-message"></p>
          </form>
        </div>
      </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
      <div class="footer__container container grid">
        <div class="footer__content grid">
          <a href="#" class="footer__logo">StephenMoses</a>

          <ul class="footer__links">
            <li>
              <a href="#home" class="footer__link">Home</a>
            </li>
            <li>
              <a href="#projects" class="footer__link">Projects</a>
            </li>
            <li>
              <a href="#services" class="footer__link">Services</a>
            </li>
          </ul>
        </div>

        <div class="footer__social">
          <a
            href="https://github.com/mrrobot-pioneer/"
            target="_blank"
            class="footer__social-link"
            title="Github"
          >
            <i class="bx bxl-github"></i>
          </a>

          <a
            href="#"
            target="_blank"
            class="footer__social-link"
            title="Linkedin"
          >
            <i class="bx bxl-linkedin"></i>
          </a>

          <a
            href="https://wa.me/254790167537"
            target="_blank"
            class="footer__social-link"
            title="Whatsapp"
          >
            <i class="bx bxl-whatsapp"></i>
          </a>

          <a
            href="https://primeelements.pro"
            target="_blank"
            class="footer__social-link"
            title="My Website"
          >
            <i class="bx bx-globe"></i>
          </a>
        </div>
      </div>

      <span class="footer__copy">
        &#169; All Rights Reserved By Stephen Moses
      </span>
    </footer>

    <!--========== SCROLL UP ==========-->
    <a href="#home" class="scrollup" id="scroll-up">
      <i class="bx bx-up-arrow-alt"></i>
    </a>

    <!--=============== MAIN JS ===============-->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
